# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\stu\book\hello-ops-girls-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
